{% extends 'maqueta.html' %}

{% block contenido %}
{% if x %}
<script type="text/javascript" >alert("Las contraseñas no coinciden") </script>
{%endif%}

{% ifequal mensaje "" %}

{%else%}
<script type="text/javascript" >alert("{{mensaje}}") </script>
{%endifequal%}
<section class="main">
	<div class="formulario">
    <form method="POST">
   <table>
    {% csrf_token %}
    
    {% for field in form.visible_fields %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>
          {{ field }}
        </td>
      </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Enviar">

</form>
</div>
</section>

{% endblock %}